{% extends "_master.html" %}
{% load static %}

{% block title %}
موفقیت
{% endblock %}

{% block content %}
<section class="gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="prc_wrap">
					<div class="prc_wrap_header">
						<h4 class="property_block_title">سفارش شما با موفقیت ثبت شد</h4>
					</div>
					<div class="prc_wrap-body">
						<p>حالا روی دکمه زیر کلیک کن تا در واتساپ با ما هماهنگ کنی.</p>
						<a href="https://wa.me/989912146083?text=سلام، من سفارشم رو ثبت کردم.
" class="btn btn-success mt-3" target="_blank">گفتگو در واتساپ</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
