{% extends "_master.html" %}
{% load static %}
{% block meta_description %}آشنایی با اهداف و تیم ما در این صفحه{% endblock %}
{% block og_title %}درباره ما - برند شما{% endblock %}
{% block og_description %}اطلاعات درباره تیم ما و خدماتی که ارائه می‌دهیم{% endblock %}

{% block content %}
			<meta http-equiv="X-Frame-Options" content="DENY">
			<meta http-equiv="X-Content-Type-Options" content="nosniff">
			<meta name="referrer" content="no-referrer-when-downgrade">
			<!-- ============================ Page Title Start================================== -->
			<section class="page-title">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							
							<div class="breadcrumbs-wrap">
								<h1 class="breadcrumb-title">درباره آکادمی ساتراپ ویرا سازان

</h1>
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="{% url "core:home" %}">خانه</a></li>
										<li class="breadcrumb-item active" aria-current="page">درباره ما</li>
									</ol>
								</nav>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Page Title End ================================== -->	
			
			<!-- ========================== About Facts List Section =============================== -->
			<section class="pt-0">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="list_facts_wrap" style="direction: rtl; text-align: justify;">
                    <div class="sec-heading mb-3 f-24">
                        <h2>آکادمی ساتراپ ویرا سازان، نقطه تلاقی  
                            <span class="theme-cl">نوآوری، دانش و توانمندسازی </span>حرفه‌ای است
                        </h2>
                    </div>

                    <div class="list_facts">
                        <div class="list_facts_caption">
                            <p>
                                آکادمی ساتراپ ویرا سازان، زیرمجموعه‌ای تخصصی از شرکت ساتراپ ویرا سازان، با هدف ارائه آموزش‌های کاربردی و مهارت‌محور در سال ۱۴۰۱ توسط تیمی از اساتید دانشگاه و متخصصان صنعت فناوری اطلاعات و مهندسی تأسیس شد. ما در این مسیر تلاش کرده‌ایم شکاف میان دانش آکادمیک و نیازهای واقعی بازار کار را با ارائه دوره‌های آموزشی پروژه‌محور، کاربردی و استاندارد پر کنیم.
                            </p>
                        </div>
                    </div>

                    <div class="list_facts">
                        <div class="list_facts_caption">
                            <p>
                                در طول ۳ سال فعالیت، با بیش از ۳۰۰ ساعت آموزش ویدیویی موفق به طراحی و ارائه ۴۸ دوره تخصصی در حوزه های مختلف برنامه نویسی و صنعت شده‌ایم. با پروژه‌های واقعی، تمرکز بر مهارت‌افزایی و ارائه گواهی‌نامه پایان دوره، توانسته‌ایم به بیش از ۱۰۰۰ دانشجو و کارآموز برای ورود به بازار کار کمک کنیم.
                            </p>
                        </div>
                    </div>

                    <div class="list_facts">
                        <div class="list_facts_caption">
                            <p>
                                در ساتراپ ویرا سازان، ما تنها خلق نمی‌کنیم تا رها کنیم؛ ما خلق می‌کنیم، نگه‌داری می‌کنیم و توسعه می‌دهیم. این فلسفه نه فقط در پروژه‌ها، بلکه در تمام فرآیندهای آموزشی ما جاری است: از انتخاب محتوا تا پشتیبانی، از آموزش تا رشد حرفه‌ای شما.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="list_facts_wrap_img">
                    <img src="{% static 'img/custom/about_us.png' %}" class="img-fluid" alt="" />
                </div>
            </div>

        </div>
    </div>
</section>

			<!-- ========================== About Facts List Section =============================== -->
						
			<!-- ============================ Testimonial Start ================================== -->
			<section style="background:url({% static "img/testimonial.png" %})">
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-lg-5 col-md-6 col-sm-12">
							<div class="sec-heading center">
								<h2><span class="theme-cl">نظرات</span> دانشجویان موفق و برتر</h2>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12">
							<div id="testimonials_style" class="slick-carousel-3 arrow_middle" dir="rtl">

								<div class="testimonial-detail">
									<div class="client-detail-box">
										<div class="pic">
											<img src="{% static "img/custom/1.png" %}" alt="">
										</div>
										<div class="client-detail">
											<h3 class="testimonial-title">سارا محمدی</h3>
											<span class="post">دانشجوی مهندسی نرم‌افزار</span>
										</div>
									</div>
									<p class="description">
										"دوره‌های سایت SVS Learn واقعاً کاربردی و به‌روز هستند. مدرسین اساتید دانشگاهی هستند و به بهترین شکل مفاهیم را منتقل می‌کنند و فضای یادگیری بسیار دوستانه و حرفه‌ای است. واقعاً تجربه‌ای ارزشمند برای من بود."
									</p>
								</div>

                                <div class="testimonial-detail">
									<div class="client-detail-box">
										<div class="pic">
											<img src="{% static "img/custom/3.png" %}" alt="">
										</div>
										<div class="client-detail">
											<h3 class="testimonial-title"> علی احمدزاده</h3>
											<span class="post">توسعه‌دهنده فرانت‌اند</span>
										</div>
									</div>
									<p class="description">
										" من از طریق دوره‌های این سایت تونستم پروژه‌های حرفه‌ای انجام بدم و رزومه‌ام رو قوی‌تر کنم. محتوای آموزشی دقیق و منظم هست و پشتیبانی خوبی هم ارائه می‌شه. "
									</p>
								</div>

                                <div class="testimonial-detail">
									<div class="client-detail-box">
										<div class="pic">
											<img src="{% static "img/custom/2.png" %}" alt="">
										</div>
										<div class="client-detail">
											<h3 class="testimonial-title">نگار رضایی</h3>
											<span class="post">طراح رابط کاربری</span>
										</div>
									</div>
									<p class="description">
										" SVS Learn به من کمک کرد که مسیر یادگیری‌ام رو هدفمندتر دنبال کنم.از پروژه‌های عملی و تمرین‌هایی که در هر دوره ارائه می‌شه واقعاً لذت بردم. "
									</p>
								</div>

							</div>
						</div>
					</div>
					
				</div>
			</section>	
			<!-- ============================ Testimonial End ================================== -->
            {% endblock content %}
