{% extends "_master.html" %}
{% load static %}

{% block title %}
صفحه اصلی
{% endblock %}
{% block meta_description %}آشنایی با اهداف و تیم ما در این صفحه{% endblock %}
{% block og_title %}درباره ما - برند شما{% endblock %}
{% block og_description %}اطلاعات درباره تیم ما و خدماتی که ارائه می‌دهیم{% endblock %}

{% block content %}
			<!-- ============================ Hero Banner  Start================================== -->
			<div class="image-cover hero_banner hero-inner-2 shadow rlt" style="background:url({% static "img/custom/banner/site4.png" %}) no-repeat;" data-overlay="7">
				<div class="container">
					<div class="hero-caption small_wd mb-5">
						<h1 class="big-header-capt cl_2 mb-0">با ساتراپ ویرا سازان، آینده‌ات را حرفه‌ای بساز! 
						</h1>
						<p>مرکز آموزش های پروژه محور در حوزه های کاربردی، فنی و تکنولوژی شرکت ساتراپ ویرا سازان</p>
					</div>
					<!-- Type -->
					<div class="row">
						<div class="col-lg-8 col-md-12 col-sm-12">
							<div class="banner-search shadow_high">
								<div class="search_hero_wrapping">
									<div class="banner-search shadow_high">
											<div class="search_hero_wrapping">

												<form method="get" action="{% url 'core:search_results' %}">  <!-- فرم با متد GET -->
													<div class="row">
														<!-- فیلد جستجو -->
														<div class="col-lg-10 col-md-10 col-sm-12">
															<div class="form-group">
																<div class="input-with-icon">
																	<input type="text" 
																		   class="form-control" 
																		   name="q"  
																		   placeholder="جستجوی دوره‌های آموزشی ..." 
																		   value="{{ request.GET.q }}"
																		   aria-label="جستجوی دوره‌های آموزشی">
																	<img src="{% static 'img/search.svg' %}" class="search-icon" alt="آیکون جستجو">
																</div>
															</div>
														</div>
														
														<!-- دکمه ارسال -->
														<div class="col-lg-2 col-md-2 col-sm-12 pr-0">
															<div class="form-group none">
																<button type="submit" class="btn search-btn full-width">جستجو</button>
															</div>
														</div>
													</div>
												</form>

											</div>
										</div>
										
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Hero Banner End ================================== -->
			
<!-- ============================ Trips Facts Start ================================== -->
						<section class="p-0 trips_top">
							<div class="container">
								<div class="trips_wrap">
									<div class="row m-0">
									
										<div class="col-lg-4 col-md-4 col-sm-12">
											<div class="trips">
												<div class="trips_icons">
													<i class="ti-video-camera"></i>
												</div>
												<div class="trips_detail">
													<h4>اجرای پروژه های فنی و عملی در بازار کار
													</h4>
												</div>
											</div>
										</div>
										
										<div class="col-lg-4 col-md-4 col-sm-12">
											<div class="trips">
												<div class="trips_icons">
													<i class="ti-medall"></i>
												</div>
												<div class="trips_detail">
													<h4>ارایه توصیه نامه و نامه کارآموزی شرکتی</h4>
												</div>
											</div>
										</div>
										
										<div class="col-lg-4 col-md-4 col-sm-12">
											<div class="trips none">
												<div class="trips_icons">
													<i class="ti-infinite"></i>
												</div>
												<div class="trips_detail">
													<h4> حضور در ساختار شرکت و تیم های اجرایی
													</h4>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</section>
<!-- ============================ Trips Facts Start ================================== -->
						
			
<!-- ============================ Featured Courcses Start ================================== -->
<section class="min-sec">
	<div class="container">
		
		<div class="row justify-content-center">
			<div class="col-lg-12 col-md-12 mb-3">
				<div class="sec-heading2">
					<div class="sec-left">
						<h3>دوره های آموزشی پر بازدید</h3>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 p-0">
				<div class="arrow_slide three_slide arrow_middle" dir="rtl">
					<!-- Single Slide -->
					{% for course in popular_courses %}
					<div class="singles_items">
						<div class="education_block_grid style_2">
							<div class="education_block_thumb n-shadow">
								<a href="{% url 'courses:course_detail' course.slug %}"><img src="{{ course.image.url }}" class="img-fluid" alt=""></a>
								<div class="cources_price">{{ course.price }} تومان</div>
							</div>
							
							<div class="education_block_body">
								<h4 class="bl-title"><a href="{% url 'courses:course_detail' course.slug %}">{{ course.title }}</a></h4>
							</div>
							
							<div class="cources_info_style3">
								<ul>
									<li><i class="ti-time ml-2"></i>{{ course.duration }} ساعت دوره</li>
									<li><i class="ti-star text-warning ml-2"></i>4.7 امتیاز</li>
								</ul>
							</div>
							
							<div class="education_block_footer">
								<div class="education_block_author">
									<h5 class="_course_category_01">{{ course.category.name }}</h5>
								</div>
								<div class="foot_lecture"><i class=""></i>{{course.get_course_type_display}}</div>
							</div>
						</div>	
					</div>
					{% empty %}
					<p>هنوز دوره‌ای ثبت نشده است.</p>
					{% endfor %}
				</div>
			</div>
		</div>
		
	</div>
</section>
<!-- ============================ Featured Courcses End ================================== -->

			
<!-- ============================ Featured Category Start ================================== -->
<section class="bg-light">
	<div class="container">
		
		<div class="row justify-content-center">
			<div class="col-lg-12 col-md-12 mb-3">
				<div class="sec-heading2">
					<div class="sec-left">
						<h3>دسته بندی های منتخب</h3>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 p-0">

				<div class="arrow_slide three_slide-dots arrow_middle" dir="rtl">
					
					<!-- Single Slide -->
					{% for category in categories %}

					<div class="singles_items">
						<div class="edu_cat">
							<div class="pic" style="width: 100%; height: 180px; overflow: hidden; position: relative;">
								<a href="{% url 'courses:category_courses' category.slug %}">
									<img src="{% if category.image %}{{ category.image.url }}{% else %}{% static 'img/default-course.jpg' %}{% endif %}" 
										 alt="{{ category.name }}"
										 style="width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;">
								</a>
							</div>
							<div class="edu_data">
								<h4 class="title"><a href="{% url 'courses:category_courses' category.slug %}">{{ category.name }}</a></h4>
								<ul class="meta">
									<li class="lessions"><i class="ti-book"></i>{{ category.num_courses }} دوره آموزشی</li>
								</ul>
							</div>
						</div>	
					</div>
					{% empty %}
					<p>هنوز دسته‌بندی‌ای ثبت نشده است.</p>
				{% endfor %}
				</div>
			</div>

		</div>
		
	</div>
</section>
<!-- ============================ Featured Category End ================================== -->

			
<!-- ========================== About Facts List Section =============================== -->
			<section>
				<div class="container">
					
					<div class="row align-items-center">
					
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="about-short">
								<div class="sec-heading mb-3">
									<h2>مسیرهای <span class="theme-cl">یادگیری </span>و مجموعه های آموزشی</h2>
								</div>
								<p> با آکادمی ساتراپ ویرا سازان، مسیر یادگیری حرفه‌ای خود را آغاز کنید
آکادمی ساتراپ ویرا سازان با تیمی متشکل از اساتید دانشگاه و متخصصان صنعت، در طول سه سال فعالیت حرفه‌ای خود، توانسته است با ارائه‌ی ۴۸ دوره تخصصی و پروژه‌محور، مسیر یادگیری را برای بیش از ۱۰۰۰ دانشجو هموار کند.
تمامی آموزش‌ها با تمرکز بر بازار کار، استانداردهای فنی و نیازهای روز دنیای فناوری طراحی شده‌اند. </p>

<p> با بیش از ۳۰۰ ساعت آموزش ویدیویی در حوزه‌های متنوع مثل برنامه‌نویسی، طراحی سایت، امنیت اطلاعات، بازی‌سازی، هوش مصنوعی، شبکه و...، همین امروز به مسیر حرفه‌ای خودتان جهت بدهید.
 </p>
 <p>  📌  پشتیبانی، پروژه واقعی، منابع کاربردی، و تجربه واقعی یادگیری در انتظار شماست.
 </p>

								<div class="cource_facts">
									<ul>
										<li><span class="theme-cl">7+</span>ساعت آموزش</li>
										<li><span class="theme-cl">77</span>نفر دانشجو</li>
										<li><span class="theme-cl">84+</span>حوزه تخصصی</li>
									</ul>
								</div>
								<a href="#" class="btn btn-modern">درباره ما<span><i class="ti-arrow-left"></i></span></a>
							</div>
						</div>
						
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="list_facts_wrap_img">
							
						
								<img src="{% static "img/edu_2.png" %} " class="img-fluid" alt="">
								
							</div>
						</div>

					</div>
					
				</div>
			</section>


            {% endblock content %}