{% load static %}

<section class="bg-cover newsletter inverse-theme" style="background:url({% static "img/custom/banner/site1.jpg" %});" data-overlay="9">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8 col-sm-12">
							<div class="text-center">
								<h2>به جامعه هزاران دانشجو بپیوندید!</h2>
								<p>به جامعه میلیونی دانشجویان ما بپیوندید و به هزاران ساعت آموزش در حوزه&zwnj;های گوناگون دسترسی داشته باشید.</p>
							</div>
						</div>
					</div>
				</div>
			</section>

<!-- ============================ Footer Start ================================== -->
<footer class="light-footer">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="footer-widget">
            <img src="{% static "img/custom/logo2.png" %}" class="img-footer"
            alt="" />
            <div class="footer-add">
              <p>ایران، تهران،شریعتی، ظفر</p>
              <p> 09128406376 _ 02122584956</p>
              <p>info@svs-so.com</p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="footer-widget">
            <h4 class="widget-title">لینک مفید</h4>
            <ul class="footer-menu">
              <li><a href="{% url "core:home" %}">صفحه اصلی</a></li>
              <li><a href="{% url "core:about_us" %}">درباره ما</a></li>
              <li><a href="faq.html">سوالات متداول</a></li>
              <li><a href="{% url "core:contact_us" %}">تماس با ما</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-2 col-md-3">
          <div class="footer-widget">
            <h4 class="widget-title">دسته بندی</h4>
            <ul class="footer-menu">
              {% for category in navbar_categories %}
              <li><a href="{% url 'courses:category_courses' category.slug %}">{{ category.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <p class="mb-0">
            © تمامی حقوق این وب‌سایت و محتوای آموزشی برای شرکت <a href="https://svs-co.com/fa/home/" target="blank"> ساتراپ ویرا سازان </a> محفوظ است.
          </p>
        </div>

        <div class="col-lg-6 col-md-6 text-left">
          <ul class="footer-bottom-social">
            <li>
              <a href="https://svs-co.com/fa/home/"><i class="ti-world"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/svs.co?igsh=MW52Y2NidW9seWY4dA%3D%3D&utm_source=qr"><i class="ti-instagram"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/satrapvirasazan"><i class="ti-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
