{% load static %}
<div class="header header-light">
    <div class="container">
        <nav id="navigation" class="navigation navigation-landscape">
            <div class="nav-header">
                <a class="nav-brand" href="{% url 'core:home' %}">آکادمی ساتراپ ویرا سازان</a>
                            {% comment %} <a class="nav-brand" href="{% url 'core:home' %}"><img src="{% static 'img/custom/logo_nav.png' %}" class="logo" alt="" /></a> {% endcomment %}
                <div class="nav-toggle"></div>
            </div>
            <div class="nav-menus-wrapper" style="transition-property: none;">
                <ul class="nav-menu">
                
                    <li class="active"><a href="{% url 'core:home' %}">صفحه اصلی<span class="submenu-indicator"></span></a>
                    </li>
                    
                    <li><a href="#">دوره های آموزشی<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                            <li><a href="{% url 'courses:course_by_type' 'in_person' %}">دوره‌های حضوری</a></li>
                            <li><a href="{% url 'courses:course_by_type' 'online' %}">دوره‌های آنلاین</a></li>
                            <li><a href="{% url 'courses:course_by_type' 'offline' %}">دوره‌های آفلاین</a></li>
                        </ul>
                    </li>
                    
                    <li><a href="{% url "faq:faqs" %}">سوالات پرتکرار</a></li>
                    <li><a href="{% url "core:about_us" %}">درباره ما</a></li>
                    <li><a href="{% url "core:contact_us" %}">تماس با ما</a></li>
                    
                </ul>
                
                <ul class="nav-menu nav-menu-social align-to-left">
                    {% if request.user.is_authenticated %}

                        <li class="login_click" style="background-color: #C53030">
                            <a href="{% url "dashboard:dashboard" %}">داشبورد</a>
                        </li>

                        <li class="login_click ">
                            <a href="{% url "logout" %}">خروج</a>
                        </li>
                    {% else %}
                        <li class="login_click light">
                            <a href="{% url 'login' %}">ورود</a>
                        </li>
                        <li class="login_click" style="background-color: #C53030">
                            <a href="{% url 'signup' %}">ثبت نام</a>
                        </li>
                    {% endif %}
            </div>
        </nav>
    </div>
</div>